<div class="row" style="width:100%;height:100%">
    <div class="col-md-7" style="padding: 0%;">
        <img src="../../../assets/images/2870 1.png" style="width: 100%;height: auto;">
    </div>

    <div class="col-md-5">
        <div style="padding: 3%;">
            <img src="../../../assets/images/The Pipeline Group.png">
        </div>

        <div>
            <form [formGroup]="passwordRecoveryForm" (ngSubmit)="recoverPassword(passwordRecoveryForm.value)">
                <div style="margin-top: 10%;">
                    <div class="row">
                        <div class="col-md-12 display" style="margin-bottom: 3%;">
                            <img src="../../../assets/images/RecoverPassword.png">
                        </div>
                        <div class="col-md-12 row">
                            <div class="col-md-12 display">
                                <h4 style="margin:0%;">Please enter your email.</h4>
                            </div>
                            <div class="col-md-12 display">
                                <h4 style="margin:0%;">We will send you an link with instructions if the</h4>
                            </div>
                            <div class="col-md-12 display">
                                <h4 style="margin:0%;">email id is registered in our records</h4>
                            </div>
                        </div>
                    </div>
                    <div style="margin-top: 3%;">
                        <div class="form-group display">
                            <input type="text" formControlName="Email" class="form-control" id="email" placeholder="User name/ Email ID" name="email" style="width: 60%;">
                        </div>
                        <div class="row" style="padding: 0%;">
                            <div class="col-md-2" ></div>
                            <div class="col-md-8 row" style="padding-right: 3%;padding-left: 7%;">
                                <div class="col-md-8" style="padding: 0%;">
                                    <p class="errorText" *ngIf="invalidEmail">Invalid User name </p>
                                </div>
                            </div>
                            <div class="col-md-2"></div>
                        </div>

                        <div style="margin-top: 3%;">

                        </div>

                        <div class="form-element display">
                            <button class="submit" color="accent" style="width: 60%;"
                            [disabled]="!passwordRecoveryForm.valid" class="btnSubmit">Recover Password</button>
                             </div>
                    </div>
                </div>
            </form>
        </div>


        <div style="bottom: 0%;margin-top: 20%;text-align: center;">
            <p>By clicking Login,you agree to our <a class="anchor">Privacy Policy</a> and <a class="anchor">Terms of Services</a>(collectively, "Terms"),</p>
            <p>effective as of January 1,2020.These terms are effective for all users as of this date .</p>
        </div>
    </div>
    <!-- <button (click)="OpenDialog()">Dialog</button> -->
</div>