

a{
    cursor: pointer;
}

.anchor{
    color: #F7471E;
    cursor: pointer;
}

.errorText{
    color: #F7471E;
}

.errorTextBox{
    background: #FFFFFF;
    border: 1px solid #F7471E;
    box-sizing: border-box;
    border-radius: 6px;
    color: #F7471E;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

.btnSubmit{
    width:60%;
    background-color: #F7471E;
    border: 1px solid #DEE1E9;
    box-sizing: border-box;
    border-radius: 8px;
    height: 40px;
    color: white;
}

button:disabled{
    background: #C4C4C4;
    border-radius: 8px;
    width:60%;
    box-sizing: border-box;
    height: 40px;
    color: white;
}

.display{
    display: flex;
    align-items: center;
    justify-content: center;
}
