<div class="body">
    <div class="col-md-12">
      <div class="row" >
          <div class="" style=" margin-top: 20px;
        ">
  <h3>My Chat</h3>
          </div>
      </div>
  </div>
    <!-- <div class="col-md-12">
      <div class="row" >
          <div class="" >
  <div style=" margin-top: 5px;
  margin-bottom: 15px;">
      <button class="addbtn" >Create Group</button>
  </div>
          </div>
      </div>
  </div> -->



  <mat-tab-group>
    <mat-tab label="Personal">
        <div class="col-md-12" *ngIf="friendList.length != 0">
            <div class="row" style="    padding: 8px;
            background: #E9EDC9;
            margin-top: 5px;
            margin-bottom: 5px;
            border-radius: 10px;" *ngFor="let friends of friendList" (click)="personalChat(friends)">
                <div class="col-mdfa-stack-1 col-sm-3 col-lg-1 col-3 m-auto">
                    <img [src]="this.baseURL+'/auth/getavtar?filePath='+friends.image_url" alt="" width="60px" height="60px" style="border-radius: 30px;">
                </div>
                <div class="col-md-10 col-sm-8 col-lg-10 col-7 m-auto" style="    font-size: 18px;">{{friends.name}}</div>
                <div class="col-md-1 col-sm-1 col-lg-1 col-2 m-auto" style="font-size: 18px;" *ngIf="friends.msgcount != 0" ><span style="background: green;
                    padding: 8px;
                    border-radius: 32px;">{{friends.msgcount}}</span> </div>
<div class="col-md-1 col-sm-1 col-lg-1 col-2 m-auto" style="font-size: 18px;" *ngIf="friends.msgcount == 0" ></div>
            </div>
        
          </div>
          <div class="col-md-12" *ngIf="friendList.length == 0">
            <div class="row" >
                <div class="col-md-12" style="text-align: center;margin-top: 20px;">

                    <p>You Don't have Friend</p>
                </div>
            </div>
          </div>
    </mat-tab>
    <!-- <mat-tab label="Group">
        <div class="col-md-12">
            <div class="row" style="    padding: 8px;
            background: #E9EDC9;
            margin-top: 5px;
            margin-bottom: 5px;
            border-radius: 10px;" >
                <div class="col-md-4 col-sm-4 col-lg-4 col-3 m-auto">
                    <img  alt="" width="60px" height="60px" style="border-radius: 30px;">
                </div>
                <div class="col-md-8 col-sm-8 col-lg-8 col-9 m-auto" style="    font-size: 18px;"></div>
            </div>
        
          </div>

    </mat-tab> -->
  </mat-tab-group>
 
  </div>