<div class="body">
  <div class="col-md-12">
    <div class="row" >
        <div class="" style=" margin-top: 20px;
      ">
<h3>Pending Todo</h3>
        </div>
    </div>
</div>
  <div class="col-md-12">
    <div class="row" >
        <div class="" >
<div style=" margin-top: 5px;
margin-bottom: 15px;">
    <button class="addbtn"  (click)="addtodopopup(Todo,0,1)">Add Your Todo</button>
</div>
        </div>
    </div>
</div>
<div style="overflow-x:auto;">
    <table>
        <tr>
          <th >S. No</th>
          <th>Title</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
        <tr *ngFor="let data of pendingTodo|  paginate:config;let i = index">
          <td >{{i+1}}</td>
          <td (click)="viewtodo(Viewtodo,data._id)"><span style="color: darkorange;" [matTooltip]="data.title">{{data.title | slice:0:20}}</span></td>
          <td>
            <mat-form-field style="width: 70px;">
              <mat-label>Status</mat-label>
              <mat-select [(value)]="data.status" (selectionChange)="changeStatus($event.value,data._id)">
                <mat-option value="1" disabled>
                  {{'Pending'}}
                </mat-option>
                <mat-option value="2">
                  {{'Inprogress'}}
                </mat-option>
                <mat-option value="3">
                  {{'Completed'}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </td>
          <td>
        <span style="padding-right: 10px;" (click)="addtodopopup(Todo,data._id,2)">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
            <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
          </svg>
        </span>
        <span (click)="deletetodo(data._id,deletetodopop)"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
          <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
          <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
        </svg></span>

        <!-- <span (click)="viewtodo(Viewtodo,data._id)"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
          <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
          <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
        </svg></span> -->
        </td>
        </tr>
        
      </table>
  </div>
  <div class="mt-3"  style="float:right;">
    <pagination-controls (pageChange)="pageChanged($event)" class="my-pagination" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page" directionLinks="true" responsive="true" previousLabel="Previous" nextLabel="Next" screenReaderPaginationLabel="Pagination"
        style="float: right;">
    </pagination-controls>
</div>
</div>

<ng-template #Todo let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title" *ngIf="showhide == 1">Add TODO</h4>
    <h4 class="modal-title" id="modal-basic-title"  *ngIf="showhide == 2">Edit TODO</h4>
    <button type="button" class="addbtn" aria-label="Close" (click)="modal.dismiss('Cross click')">X</button>
  </div>
  
  <div class="modal-body">
    <form [formGroup]="todo">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group display">
          <label for="" class="labl">Todo Title</label> <br>
          <input type="text" class="input" oninput="this.value = this.value.replace(/[^A-Za-z0-9-,.;@'&/.() ]|^ /g,'')" formControlName="title" maxlength="50" placeholder="Title"  >
      </div>
      <div style="    padding-left: 5px;
      color: red;" *ngIf=" f.title.errors && (f.title.dirty || f.title.touched || submitted) ">
          <p *ngIf="f.title.errors.required">Title is required</p>
  
      </div>
      <div class="form-group display">
        <label for="" class="labl">Description</label> <br>
          <textarea type="test" oninput="this.value = this.value.replace(/[^A-Za-z0-9-,.;@'&/.() ]|^ /g,'')" placeholder="Description" formControlName="discription" maxlength="100" class="text"  ></textarea>
      </div>
      <div style="    padding-left: 5px;
      color: red;" *ngIf=" f.discription.errors && (f.discription.dirty || f.discription.touched || submitted) ">
          <p *ngIf="f.discription.errors.required">Description is required</p>
  
      </div>
      </div>
    </div>
  </div>
</form>
  </div>
  <div class="modal-footer">
    <button class="clearbtn" type="reset" (click)="clear()">Clear</button>
    <button class="addbtn" *ngIf="showhide == 1" (click)="submitTodo(todo.value)">Submit</button>
    <button class="addbtn" *ngIf="showhide == 2" (click)="updateTodo(todo.value)">Update</button>
  </div>
</ng-template>

<ng-template #deletetodopop let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title" >Delete TODO</h4>
    <button type="button" class="addbtn" aria-label="Close" (click)="modal.dismiss('Cross click')">X</button>
  </div>
  
  <div class="modal-body">
   <div>
    <h3>Are You Sure?</h3>
   </div>
  </div>
  <div class="modal-footer">
    <button class="clearbtn" type="reset" (click)="cancel()">cancel</button>
    <button class="addbtn" (click)="suredelete()">Sure</button>
  </div>
</ng-template>


<ng-template #Viewtodo let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">View Todo</h4>
    <button type="button" class="addbtn" aria-label="Close" (click)="modal.dismiss('Cross click')">X</button>
  </div>
  
  <div class="modal-body">
    <form [formGroup]="todo">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group display">
          <label for="" class="labl">Todo Title</label> <br>
          <input type="text" class="input" disabled formControlName="title" maxlength="50" placeholder="Title"  >
      </div>
      <div class="form-group display">
        <label for="" class="labl">Description</label> <br>
          <textarea type="test" placeholder="Description" disabled formControlName="discription" maxlength="100" class="text"  ></textarea>
      </div>
      </div>
    </div>
  </div>
</form>
  </div>
  <div class="modal-footer">
    <button class="clearbtn" type="reset" (click)="cancel()">Cancel</button>
  </div>
</ng-template>